@font-face {
  font-family: 'Lato';
  src: url(./components/fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(./components/fonts/RobotoFlex.ttf);
  font-weight: normal;
  font-style: normal;
}

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.centralizaItensBox {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

#AreaDeContas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

/* Card */
.compcontas {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 279px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.tituloConta {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin: 0;
}


.valorConta {
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0 0 0;
}


#Cabecalho {
  background-color: #007e1b;
  height: 145px;          
  display: flex;             
  align-items: center;       
  justify-content: center;  
  margin: 0;                 
  padding: 0 20px;           
  box-sizing: border-box;    
}

#logo {
  font-family:'roboto';
  font-size: 40px;                  
  color: white;
  font-weight: 700;              
  margin: 0; 
}

#logomoedas {
  height: 140px;  
  width: auto; 
}



html{
  background-color: rgb(255, 255, 255);;

}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

p{
  margin-top: 0;
  margin-bottom: 0;

}


#itensAdicionar,
#ListaContainer {
  width: 880px;
  margin: 30px auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  border-radius: 8px;
}

#ListaCorpo {
  padding: 0;
  margin: 0;
  list-style: none;
}

#ListaCorpo li {
  display: flex;
  align-items: center;
  gap: 20px;     
  width: 100%;
  padding: 10px 0;
  background-color: #f9f9f9;
  border-radius: 6px;
}

#ListaCorpo li span {
  flex: 1;      
  text-align: center;
}

#ListaCorpo li button {
  flex: 0;         
  width: 100px;   
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1 solid green;
  margin-bottom: 150px;
   
}

#itensAdicionar {
  display: flex;
  flex-wrap: wrap;       
  align-items: center;
  justify-content: center; 
  gap: 50px;              
  margin-top: 60px;
  padding: 15px 0px;
  background-color: #fff;
  max-width: 880px;
  margin: 30px auto;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#itensAdicionar label {
  display: flex;
  align-items: center;
  gap: 5px; 
  font-weight: 500;
}

#itensAdicionar input[type="text"],
#itensAdicionar input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

#itensAdicionar button {
  background-color: #007e1b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#itensAdicionar button:hover {
  background-color: #049a24;
}


@media (max-width: 1150px) {
  #Cabecalho{
    width: 100%;
    height: 336px;
    
  }

  #logo{
    margin-bottom: 64px;
  }
  

  #AreaDeContas{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    background-color: rgb(255, 255, 255);
    min-width: 824px;
    min-height: 380px;
    margin-top: -150px;
    border-radius: 12px;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.3); 
    color: black;
  }

  .compcontas{
    all: unset;
    display: flex;
    flex-direction: column-reverse;
    
  }

  #entr{
    order: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 88px;
  }
  #saida{
    order: 3;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 88px;
  }
  #saldo{
    order: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 176px;
    
  }
  #saldo .compcontas {
    all: unset;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  .tituloConta{
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
  }
  .valorConta{
    font-family: Lato;
    font-weight: bold;
    font-size: 32px;
  }

  #saldo .valorConta{
    all: unset;
    font-family: Lato;
    font-size: 64px;
    font-weight: bold;
    color: rgba(91, 224, 120, 100);
  }
}