#root {
  margin: 0 auto;
  text-align: center;
}

#info{
  padding: 0px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-left: 25%;
  margin-right: 25%;
}

#infoentra{
  margin-left: 40px;
  padding: 25px 50px 25px 50px;
}

#infosai{
  padding: 25px 50px 25px 30px;
}

#infosaldo{
  padding: 25px 50px 25px 50px;
  margin-right: 40px;
}

#CentralizarContas{
  display:flex;
  justify-content: center;
  
}

#AreaDeContas{
  display: flex;
  justify-content: space-around;
  gap: 200px;
  
}


.compcontas{
  background-color: aliceblue;
  border-radius: 8px;
  
  font-size: 32px;
  width: 200px;
  height: 120px;

}


#Cabecalho{
  background-color: rgb(126, 126, 126);
  padding-bottom: 30px;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
}

html{
  background-color: rgb(211, 211, 211);
}

body{
  margin: 0 auto;
  padding: 0;
}

p{
  margin-top: 0;
  margin-bottom: 0;

}

#logo{
  font-family: 'Times New Roman', Times, serif;
}

#ListaContainer{
  width: 100%;
  max-width: 600px;
 
  margin: 24px auto;
}

#ListaCorpo{
  background-color: rgb(118, 117, 117);
  padding: 12px 16px;
  display:flex ;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

#ListaCabeçalho{
  display: flex;
  background-color: rgb(142, 142, 142);
  padding: 40px;
  justify-content: space-between;
  
  
  
}

#fundoMother{
  margin-left: 40px;
  display: flex;
  justify-content: space-around;
  width: 800px; 
  gap: 120px;
  align-items: center;
}

.fundoCab{
  
  border-radius: 20px;
  font-size: 24px;
  width: 140px;
  height: 30px;
  background-color: rgb(198, 196, 196);
}