#root {
  margin: 0 auto;
  text-align: center;
}

#AreaDeContas{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  gap: 24px;
}

.compcontas{
  border: 4px solid rgb(82, 82, 82);
  background-color: rgb(164, 164, 164);
  padding: 25px 50px 25px 50px;
  border-radius: 8px;
  flex-grow: 1;

}


#Cabecalho{
  background-color: rgb(126, 126, 126);
  padding-bottom: 30px;
  flex-grow: 1;
}

html{
  background-color: rgb(211, 211, 211);
}

body{
  margin: 0 auto;
  padding: 0;
}

p{
  margin-top: 0;
}

#logo{
  font-family: 'Times New Roman', Times, serif;
}

#ListaCorpo{
  background-color: rgb(97, 97, 97);
}