#root {
  margin: 0 auto;
  text-align: center;
}

#AreaDeContas{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
}

.compcontas{
  border: 4px solid rgb(82, 82, 82);
  background-color: rgb(164, 164, 164);
  padding: 25px 50px 25px 50px;
  border-radius: 8px;

}


#Cabecalho{
  background-color: rgb(90, 90, 215);
  padding-bottom: 30px;
}

html{
  background-color: rgb(203, 217, 229);
}

body{
  margin: 0 auto;
  padding: 0;
}

p{
  margin-top: 0;
}

#logo{
  font-family: 'Times New Roman', Times, serif;
}

