
.btn-delete {
  background-color: transparent;
  color: #ef4444;
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete:hover {
  background-color: #fee2e2;
  transform: scale(1.1);
}

.icon-lixeira {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.itensAdicionar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  padding: 4px 24px 4px 24px;
  background-color: #fff;
  max-width: 880px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
  .adicionar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -32px;
    position: relative;
  }

  .titleList {
    display: none;
    font-size: 32px;
    font-family: Roboto;
    font-weight: bold;
    margin: 2rem;
  }

.ListaContainer {
  width: 42vw;
  height: 44vh;
  margin: 16px 32px 16px 32px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.itensAdicionar label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}
.titleInput{
  font-size: 16px;
  margin-bottom: 2px;
  text-align: left;
}

.itensAdicionar button {
  background-color: #007e1b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.itensAdicionar button:hover {
  background-color: #049a24;
}

.ListaContainer {
  overflow-y: auto;
  max-height: 60vh;
}
/* Lista - NOVO ESTILO */
.ListaCorpo {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.infoL {
    color: #0000007c;
    font-size: 16px;
    font-family: Lato;
  }

.transactionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 20px;
}
/* lado esquerdo = ícone + descrição + data */
.iconBox {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}
.detalhes {
  display: flex;
  flex-direction: column; /* empilha desc e data */
  justify-content: center;
  gap: 4px;
  flex: 1; /* ocupa o espaço restante */
}
.desc {
  font-family: Roboto;
  color: #2f2f2f;
  font-size: 16px;
}

.data {
  font-size: 0.9rem;
}
.valor-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.valor {
  font-weight: bold;
  font-size: 1rem;
}

.valor.entrada {
  color: #16a34a; /* verde */
}

.valor.saida {
  color: #dc2626; /* vermelho */
}


/* inputs lado a lado */
.inputs-lado-a-lado {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  width: 100%;
}


.text-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 300px;
  transition: all 0.2s ease;
}

.text-input:focus {
  border-color: #007e1b;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 126, 27, 0.5);
}
.radios-botao {
  order: -8;
  display: flex;
  align-items: center;
  accent-color: #007e1b;
  justify-content: center;
  gap: 12px;
}

.MobileOn{
  display: none;
}



@media (max-width: 1150px) {
  .itensAdicionar {
    all: unset;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 9vh;
    position: fixed;
    transition: all 0.3s ease;
    transform: translateY(-10px);
    opacity: 0;
    background-color: rgb(255, 255, 255);
    min-width: 86vw;
    min-height: 30vh;
    box-shadow: 0px 3px 20px rgb(155, 155, 155);
    border-radius: 16px;
    z-index: 10;
    padding: 20px;
  }
  .titleList{
    display: block;
  }
  .MobileOn{
  display: block;
}
  .desc {
  font-family: Roboto;
  color: #2f2f2f;
  font-size: 2rem;
}

    .ListaContainer {
    position: relative;
    width: 80vw;
    max-height: 54vh !important;
    min-height: 54vh !important;
    max-width: 80vw;
    overflow-y: auto;
    border-radius: 12px;
    box-shadow: 0px 8px 48px rgb(155, 155, 155);
    scrollbar-width: thin;
  }
   .itensAdicionar label {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .enviar {
    border-radius: 16px;
    min-width: 34vw;
    min-height: 96px;
    font-size: 40px;
    font-family: Lato;
    font-weight: bold;
    margin-top: -32px;
    background-color: #007e1b;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 24px rgb(151, 151, 151);
    font-weight: bold;
  }

  .enviar:hover {
    background-color: #049a24;
    transform: scale(1.03);
  }

  .infoL {
    color: #0000007c;
    font-family: Lato;
    font-size: 24px;
  }

  .itensAdicionar.aberto {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  .inputs-lado-a-lado {
    display: flex;
    order: -8;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .inputDataType h1 {
    font-family: Lato;
    color: #000000;
    font-size: 32px;
    text-align: left;
    margin-bottom: 8px;
  }

  .inputValor,
  .input-descricao {
    min-width: 348px;
    height:54px;
    font-size: 1.2rem;
    border: 2px solid #000000;
    border-radius: 24px;
    padding: 8px 16px;
  }

  .radios-botao {
    display: flex;
    margin-top: -24px;
    margin-bottom: 4vh;
    transform: scale(2);
    font-size: 20px;
    accent-color: #007e1b;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}